@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

/*********************************************************************************************
** Final project of the bootcamp                                                                                      **
**********************************************************************************************

Project:    Final Project - Clipboard landing page
Version:    1.0.0
Author :    Tlangelani Felender Hlungwani
Updated:    1
*/


/*Primary color*/

.strong-cyan{color:hsl(171, 66%, 44%)}
.light-blue{color: hsl(233, 100%, 69%)}

/*Neutral*/
.dark-grayish-blue{color: hsl(210, 10%, 33%)}
.grayish-blue {color: hsl(201, 11%, 66%)}


body{
font-family: 'Bai Jamjuree', sans-serif;
font-size: 18px;
}

p{
    color:hsl(201, 11%, 66%);
}

ul {list-style: none;}
ul a{
    color: hsl(201, 11%, 66%);
    text-decoration: none;
}
/*Hero*/
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-group-lg>.btn, .btn-lg {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-border-radius: 14.5rem;
}


.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg:hsl(233, 100%, 69%);
    --bs-btn-border-color:hsl(233, 100%, 69%); 
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg:hsl(171, 66%, 44%);
    --bs-btn-border-color:hsl(171, 66%, 44%); 
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:url(/assets/img/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
  object-fit: cover;
}

.hero-content {
  position: relative;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0.625rem;
}

.hero-title {

  font-weight: 600;
  margin-bottom: 0;
}

.hero-subtitle {

  font-weight: 200;
  margin-top: 1rem;
}
.hero image {
    background-repeat: no-repeat;
}

.mt-10 {
    margin-top: 12rem!important;
}
.brands{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
 
}

footer{
    background-color:hsl(210, 10%, 33%);
}